@import url('https://fonts.googleapis.com/css2?family=Mogra&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


body{
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

.hero-text{
    text-align: center;
    color:white;
    padding: 80px 20px;
}

.hero-text h1{
    font-family: "Mogra", cursive;
    font-size: 4rem;
    margin-bottom: 10px;
}
.hero-text p{
    font-family: "Playfair Display", serif;
    font-size: 1.7rem;
    font-weight: bold;
}

.home-page{
    background-image: url("image1.png");
    background-size:cover;
    background-position: center;
    min-height: 100vh;
}

.manual-page{
    background-image: url("image2.png");
    background-size:cover;
    background-position: center;
    min-height: 100vh;
}

body:before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images2.png");
    background-size: cover;
    background-position: center;
    z-index: -2;
    animation: backgtoundSlideshow 10s infinite;
}

.site-header{
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #ffffff;
    border-bottom: 1px solid #ddd
}

.logo{
    font-family: "Mogra", cursive;
    font-size: 3rem;
    color:#007474;
    text-decoration: none;

    animation-duration: 2s;
}

.nav-links{
    display: flex;
    gap: 12px;  /*space between buttons*/
    width:100%;
    align-items: center;
}

.nav-links a,
.nav-dropdown{
    text-decoration: none;
    color: #111;
    padding: 8px 16px;
    border-radius: 15px;

    background: rgba(255, 255,255, 0.3);
    backdrop-filter: blur(10px);
    
    border: 1px solid rgba(255, 255,255, 0.5);

    font-size: 0.9rem;
    transition: all 0.2s ease;
}

.nav-links a:hover,
.nav-dropdown:hover{
    background: rgba(1, 116, 116, 0.6);
    color: white;
}

.nav-dropdown{
    text-decoration: none;
    color: #111;
    padding: 8px 16px;
    border-radius: 15px;

    background: rgba(255, 255,255,0.3);
    backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255,255, 0.5);

    font-size: 0.9rem;
    transition: all 0.2s ease;
    cursor: pointer;
    appearance: none;
}

.nav-dropdown:hover{
    background: rgba(1, 116, 116, 0.6);
    color: white;
}
/*DO NOT MESS WITH THIS!*/
:where(.ui-wheel-of-fortune) {
  /* 12 slices */
  --_items: 12;
  all: unset;
  aspect-ratio: 1 / 1;
  container-type: inline-size;
  direction: ltr;
  display: grid;
  position: relative;
  width: 450px;

  
  /* the little red triangle on top */
  &::after {
    aspect-ratio: 1/cos(30deg);
    background-color: crimson;
    clip-path: polygon(50% 100%,100% 0,0 0);
    content: "";
    height: 4cqi;
    position: absolute;
    place-self: start center;
    scale: 1.4;
  }

  & > * { position: absolute; }

  button {
    aspect-ratio: 1 / 1;
    background: hsla(0, 0%, 100%, .8);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    font-size: 5cqi;
    place-self: center;
    width: 20cqi;
  }

  ul {
    all: unset;
    /* makes teh wheel spin*/
    clip-path: inset(0 0 0 0 round 50%);
    display: grid;
    inset: 0;
    place-content: center start;

    li {
      align-content: center;
      aspect-ratio: 1 / calc(2 * tan(180deg / var(--_items)));
     /* each slice gets a different color automatically. dude how?*/
      background: hsl(calc(360deg / var(--_items) * calc(var(--_idx))), 100%, 75%);
      /* makes each <li> a triangle slice*/
      clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
      display: grid;
      font-size: 4cqi;
      grid-area: 1 / -1;
      padding-left: 1ch;
      /* Each slice is rotated evenly around the circle*/
      rotate: calc(360deg / var(--_items) * calc(var(--_idx) - 1));
      transform-origin: center right;
      user-select: none;
      width: 48cqi;

      &:nth-of-type(1) { --_idx: 1; }
      &:nth-of-type(2) { --_idx: 2; }
      &:nth-of-type(3) { --_idx: 3; }
      &:nth-of-type(4) { --_idx: 4; }
      &:nth-of-type(5) { --_idx: 5; }
      &:nth-of-type(6) { --_idx: 6; }
      &:nth-of-type(7) { --_idx: 7; }
      &:nth-of-type(8) { --_idx: 8; }
      &:nth-of-type(9) { --_idx: 9; }
      &:nth-of-type(10) { --_idx: 10; }
      &:nth-of-type(11) { --_idx: 11; }
      &:nth-of-type(12) { --_idx: 12; }
    }
  }
}

#manual-selection{
    display: none;
}

#results{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px;
}

.movie-card {
    background-color: #007474;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.movie-card h2{
    font-family: "Mogra", cursive;
    font-size: 1.5rem;
}

.movie-card p{
    font-family: "Titillium Web", sans-serif;
    line-height: 1.5;
}

.movie-poster {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#selected-genre-title{
    font-family: "Mogra", cursive;
    text-align: center;
    color: white;
    margin-top: 30px;
}

/*this way, on mobile, the nav buttons will be stacked vertically.*/
@media(min-width: 768px){
    .site-header{
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 40px;
    }

    .nav-links{
        width: auto;
        flex-direction: row;
    }

    .nav-links a,
    .nav-dropdown{
        width:auto;
    }
}