@import url('https://fonts.googleapis.com/css2?family=Mogra&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

site.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #ffffff;
    border-bottom: 1px solid #ddd
}

/*button{
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}*/

/*.spin-wheel{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid black;
    position: relative;
}

.segment:nth-child(1){
    transform: rotate(0deg);
    background-color: #eee;
}
.segment:nth-child(2){
    transform: rotate(90deg);
}
.segment:nth-child(3){
    transform: rotate(180deg);
}
.segment:nth-child(4){
    transform: rotate(270deg);
}


.segment{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align:center;
    transform-origin: center;
}
*/

.logo{
    font-family: "Mogra", cursive;
    font-size: 1.5rem;
    color:#007474;
    text-decoration: none;
}

.nav-links{
    display: flex;
    gap: 12px;  /*space between buttons*/
}

.nav-links a{
    text-decoration: none;
    color: #111;
    padding: 8px 16px;
    border-radius: 20px;

    background: rgba(255, 255,255, 0.3);
    backdrop-filter: blur(10px);
    
    border: 1px solid rgba(255, 255,255, 0.5);

    font-size: 0.9rem;
    transition: all 0.2s ease;
}

.nav-links a:hover{
    background: rgba(1, 116, 116, 0.6);
    color: white;
}

/*DO NOT MESS WITH THIS!*/
:where(.ui-wheel-of-fortune) {
  /* 12 slices */
  --_items: 12;
  all: unset;
  aspect-ratio: 1 / 1;
  container-type: inline-size;
  direction: ltr;
  display: grid;
  position: relative;
  width: 450px;

  
  /* the little red triangle on top */
  &::after {
    aspect-ratio: 1/cos(30deg);
    background-color: crimson;
    clip-path: polygon(50% 100%,100% 0,0 0);
    content: "";
    height: 4cqi;
    position: absolute;
    place-self: start center;
    scale: 1.4;
  }

  & > * { position: absolute; }

  button {
    aspect-ratio: 1 / 1;
    background: hsla(0, 0%, 100%, .8);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    font-size: 5cqi;
    place-self: center;
    width: 20cqi;
  }

  ul {
    all: unset;
    /* makes teh wheel spin*/
    clip-path: inset(0 0 0 0 round 50%);
    display: grid;
    inset: 0;
    place-content: center start;

    li {
      align-content: center;
      aspect-ratio: 1 / calc(2 * tan(180deg / var(--_items)));
     /* each slice gets a different color automatically. dude how?*/
      background: hsl(calc(360deg / var(--_items) * calc(var(--_idx))), 100%, 75%);
      /* makes each <li> a triangle slice*/
      clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
      display: grid;
      font-size: 4cqi;
      grid-area: 1 / -1;
      padding-left: 1ch;
      /* Each slice is rotated evenly around the circle*/
      rotate: calc(360deg / var(--_items) * calc(var(--_idx) - 1));
      transform-origin: center right;
      user-select: none;
      width: 48cqi;

      &:nth-of-type(1) { --_idx: 1; }
      &:nth-of-type(2) { --_idx: 2; }
      &:nth-of-type(3) { --_idx: 3; }
      &:nth-of-type(4) { --_idx: 4; }
      &:nth-of-type(5) { --_idx: 5; }
      &:nth-of-type(6) { --_idx: 6; }
      &:nth-of-type(7) { --_idx: 7; }
      &:nth-of-type(8) { --_idx: 8; }
      &:nth-of-type(9) { --_idx: 9; }
      &:nth-of-type(10) { --_idx: 10; }
      &:nth-of-type(11) { --_idx: 11; }
      &:nth-of-type(12) { --_idx: 12; }
    }
  }
}

#manual-selection{
    display: none;
}


<!-- HTML !-->
<button class="button-55" role="button">Button 55</button>

